{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Auvik API",
    "description" : "To use the Auvik APIs, you’ll need a <a href=\"https://support.auvik.com/hc/en-us/articles/204309114-#topic_generate\" target=\"_blank\">valid Auvik user and the user’s API key</a>. The user must also have the correct <a href=\" https://support.auvik.com/hc/en-us/articles/115002815966\" target=\"_blank\">role permissions</a>.<br>\n    <br>\n    Note: The word <i>tenant</i> as it appears in the API descriptions means one of Auvik’s supported tenant types: multi-client or client.<br><br>All date formats are formatted in the format of YYYY-MM-DDTHH:MM:SS.sssZ, as describe in ISO 8061<br><br>To find out more about Auvik’s APIs, <a href=\"https://support.auvik.com/hc/en-us/articles/360017965092\" target=\"_blank\">click here.</a>",
    "version" : "v1",
    "x-logo" : {
      "url" : "https://us1.my.auvik.com/assets/images/auvik_logo_large.png"
    }
  },
  "servers" : [ {
    "url" : "https://auvikapi.us1.my.auvik.com/v1"
  } ],
  "security" : [ {
    "ApiKey" : [ ]
  } ],
  "tags" : [ {
    "name" : "Device",
    "description" : "The Auvik Device API allows you to view an inventory of devices and other related information discovered by Auvik.<br>\n<br>\nThere are ten endpoints available within the Device API.\n<ol>\n    <li><b>Read Multiple Devices’ Info:</b> Pulls detail about multiple devices discovered on your client’s network.</li>\n    <li><b>Read a Single Device’s Info:</b> Pulls detail about a specific device discovered on your client’s network.</li>\n    <li><b>Read Multiple Devices’ Details:</b> Pulls details about multiple devices not already included in the Device Info API.</li>\n    <li><b>Read a Single Device’s Details:</b> Pulls details about a specific device not already included in the Device Info API.</li>\n    <li><b>Read Multiple Device’s Extended Details:</b> Pulls extended information about multiple devices not already included in the Device Info API.</li>\n    <li><b>Read a Single Device’s Extended Details:</b> Pulls extended information about a specific device not already included in the Device Info API.</li>\n    <li><b>Read Multiple Devices’ Warranty Info:</b> Pulls the collected warranty information about the various devices discovered on your client’s network.</li>\n    <li><b>Read a Single Device’s Warranty Info:</b> Pulls the collected warranty information about a specific device discovered on your client’s network.</li>\n    <li><b>Read Multiple Devices’ Lifecycle Info:</b> Pulls the lifecycle information about the various devices discovered on your client’s network.</li>\n    <li><b>Read a Single Device’s Lifecycle Info:</b> Pulls the lifecycle information about a specific device discovered on your client’s network.</li></ol>"
  }, {
    "name" : "Network",
    "description" : "The Auvik Network API allows you to view an inventory of networks and other related information discovered by Auvik.<br>\n<br>\nThere are four endpoints available within the Network API.\n<ol>\n    <li><b>Read Multiple Networks’ Details:</b> Pulls extra collected information about multiple discovered networks.</li>\n    <li><b>Read a Single Network’s Details:</b> Pulls extra collected information about a specific discovered network.</li>\n    <li><b>Read Multiple Networks’ Info:</b> Pulls detail about multiple discovered networks. </li>\n    <li><b>Read a Single Network’s Info:</b> Pulls detail about a specific discovered network.</li>\n</ol>"
  }, {
    "name" : "Interface",
    "description" : "The Auvik Interface API allows you to view an inventory of device interfaces and other related information discovered by Auvik.<br>\n<br>\nThere are two endpoints available within the Interface API.\n<ol>\n    <li><b>Read Multiple Interfaces Info:</b> Pulls detail about multiple interfaces associated with your clients’ devices.</li>\n    <li><b>Read a Single Interface Info:</b> Pulls detail about a specific interface associated with a client device.</li>\n</ol>"
  }, {
    "name" : "Component",
    "description" : "The Auvik Component API allows you to view an inventory of device components and other related information discovered by Auvik.<br>\n<br>\nThere are two endpoints available within the Component API.\n<ol>\n    <li><b>Read Multiple Components’ Info:</b>  Pulls detail about multiple components associated with your clients’ devices.</li>\n    <li><b>Read a Single Component’s Info:</b> Pulls detail about a specific component associated with a client device.</li>\n</ol>"
  }, {
    "name" : "Entity",
    "description" : "The Auvik Entity API allows you to view notes and audit trails associated with the entities (devices, networks, and interfaces) that have been discovered by Auvik.<br>\n<br>\nThere are four endpoints available within the Entity API.\n<ol>\n    <li><b>Read Multiple Entity Audits:</b> Pulls detail about multiple audits associated with client entities.</li>\n    <li><b>Read a Single Entity Audit:</b> Pulls detail about a specific audit entry associated with a client entity.</li>\n    <li><b>Read Multiple Entity Notes:</b>  Pulls detail about multiple notes associated with client entities.</li>\n    <li><b>Read a Single Entity Note:</b> Pulls detail about a specific note associated with a client entity.</li>\n</ol>"
  }, {
    "name" : "Credentials",
    "description" : "The Credentials API allows you to perform operations relating to your API credentials.<br>\n<br>\nThere is one endpoint currently available within the Credentials API.\n<ol>\n    <li><b>Verify Credentials:</b> Verify that your credentials are correct before making a call to an endpoint.</li>\n</ol>"
  }, {
    "name" : "Tenants",
    "description" : "The Auvik Tenant API allows you to see if you have access to multi-clients or clients associated to your Auvik user account. The output from the API shows if you have permissions to a multi-client or client, but doesn’t show the associated role permissions.<br>\n    <br>\n    There are three endpoints within the Tenant API.\n    <ol>\n      <li><b>Read Multiple Tenants:</b> Pulls access detail about multiple multi-clients and clients associated with your Auvik user account.</li>\n      <li><b>Read Multiple Tenants Detail:</b> Pulls details for multiple multi-clients and clients associated with your Auvik user account.</li>\n      <li><b>Read single Tenant Detail:</b> Pulls detail for a specific multiple multi-client or client associated with your Auvik user account.</li>\n    </ol>"
  }, {
    "name" : "Configuration",
    "description" : "The Configuration API allows you to view a history of device configurations and other related information discovered by Auvik.<br>\n    <br>\n    There are two endpoint within the Configuration API.\n    <ol>\n      <li><b>Read Multiple Configurations.</b> Pulls detail about multiple device configurations associated with your Auvik user account.</li>\n  <li><b>Read Single Configuration.</b> Pulls detail about a single device configuration associated with your Auvik user account.</li>\n   </ol>"
  }, {
    "name" : "Alert History",
    "description" : "The Auvik Alert API allows you to view the alert events that has been triggered by your Auvik collector(s).<br>\n<br>\nThere are two endpoints available within the Alert API.\n<ol>\n    <li><b>Read Multiple Alerts.</b> Read multiple alerts based on query parameters you specify.</li>\n    <li><b>Read a Single Alert.</b> Read a specific Alert.</li>\n</ol>"
  }, {
    "name" : "Alert",
    "description" : "The Auvik Alert API allows you to dismiss an alert that Auvik has triggered.<br>\n<br>\nThere is a single endpoint availble within the Alert API.\n<ol>\n    <li><b>Dismiss Alert.</b> Dismiss a single alert.</li>\n</ol>"
  }, {
    "name" : "Usage",
    "description" : "The Auvik Usage API allows to view usage data that Auvik uses to calculate your invoices. <br>\n<br>\nThere are two endpoints available in the Usage API.\n<ol>\n    <li><b>Read Client Usage</b> Read a summary of a client’s (and client’s children if a multi-client) usage for a given time range.</li>\n    <li><b>Read Device Usage</b> Read the usage data of a device for a given period.</li>\n</ol>"
  }, {
    "name" : "Statistics",
    "description" : "The Auvik Statistics API allows you view some of the entity statistics that Auvik monitors.<br>\n<br>\nThere are six endpoints available in the Statistics API.\n<ol>\n    <li><b>Read Device Statistics:</b> Provides historical device statistics such as bandwidth, CPU utilization and memory utilization.</li>\n    <li><b>Read Device Availability Statistics:</b> Provides historical device uptime and outage statistics.</li>\n    <li><b>Read Service Statistics:</b> Provides historical cloud ping check statistics.</li>\n    <li><b>Read Interface Statistics:</b> Provides historical interface statistics such as bandwidth and packet loss.</li>\n    <li><b>Read Component Statistics:</b> Provides historical statistics for components such as CPUs, disks, fans and memory.</li>\n    <li><b>Read OID Statistics:</b> Provides the current value for numeric OID monitors.</li>\n</ol>"
  } ],
  "paths" : {
    "/authentication/verify" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Verify Credentials",
        "description" : "Use the Verify Credentials API to verify your credentials are correct before making a call to an endpoint.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user whose credentials you wish to check.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n</ul>",
        "operationId" : "verifyCredentials",
        "responses" : {
          "200" : {
            "description" : "Your credentials are valid.",
            "content" : { }
          },
          "401" : {
            "description" : "Your credentials are invalid.",
            "content" : { }
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/authentication/verify'"
        } ]
      }
    },
    "/inventory/device/info" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read Multiple Devices’ Info",
        "description" : "Use the Read Multiple Devices’ Info API to pull the collected information about the various devices Auvik has discovered. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[deviceType]=router</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleDeviceInfo",
        "parameters" : [ {
          "name" : "filter[networks]",
          "in" : "query",
          "description" : "Filter by IDs of networks this device is on.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MTk5NTAyNzg2ODc3MDYzMTY5LDE5OTUwMjc5MTExMjc4NTkyMw"
        }, {
          "name" : "filter[deviceType]",
          "in" : "query",
          "description" : "Filter by device type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/DeviceTypeSchema"
          },
          "example" : "accessPoint"
        }, {
          "name" : "filter[makeModel]",
          "in" : "query",
          "description" : "Filter by the device’s make and model.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "\"M Series Access Point\""
        }, {
          "name" : "filter[vendorName]",
          "in" : "query",
          "description" : "Filter by the device’s vendor/manufacturer.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Ubiquiti"
        }, {
          "name" : "filter[onlineStatus]",
          "in" : "query",
          "description" : "Filter by the device’s online status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "online", "offline", "unreachable", "testing", "unknown", "dormant", "notPresent", "lowerLayerDown" ]
          },
          "example" : "online"
        }, {
          "name" : "filter[modifiedAfter]",
          "in" : "query",
          "description" : "Filter by date and time, only returning entities modified after provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-03-12T12:00:00.000Z"
        }, {
          "name" : "filter[notSeenSince]",
          "in" : "query",
          "description" : "Filter by the last seen online time, returning entities not seen online after the provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-11-30T18:34:42.652Z"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Use to include the full resource objects of the list device relationships.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "deviceDetail" ]
          },
          "example" : "deviceDetail"
        }, {
          "name" : "fields[deviceDetail]",
          "in" : "query",
          "description" : "Use to limit the attributes that will be returned in the included detail object to only what is specified by this query parameter. Requires <code>include=deviceDetail</code>",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "discoveryStatus", "components", "connectedDevices", "configurations", "manageStatus", "interfaces" ]
          },
          "example" : "discoveryStatus,components"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceInfoReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/info?filter[deviceType]=router&tenants=195798545063742726&include=deviceDetail'"
        } ]
      }
    },
    "/inventory/device/info/{id}" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read a Single Device’s Info",
        "description" : "Use the Read Single Device’s Info API to pull the collected information about a specific device Auvik has discovered. You’ll need the device ID for the specific device.<br>\n<br>\nTo find the device IDs, run the <a href=\"#operation/readMultipleDeviceInfo\">Read Multiple Devices API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...2Nw</i> should be the device’s ID.\n</li></ul>",
        "operationId" : "readSingleDeviceInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of device",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Use to include the full resource objects of the list device relationships.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "deviceDetail" ]
          },
          "example" : "deviceDetail"
        }, {
          "name" : "fields[deviceDetail]",
          "in" : "query",
          "description" : "Use to limit the attributes that will be returned in the included detail object to only what is specified by this query parameter. Requires <code>include=deviceDetail</code>",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "discoveryStatus", "components", "connectedDevices", "configurations", "manageStatus", "interfaces" ]
          },
          "example" : "discoveryStatus,components"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceInfoReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/info/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/device/detail" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read Multiple Devices’ Details",
        "description" : "Use the Read Multiple Devices’ Details API to pull extra collected information about the various devices Auvik has discovered not already included in the Device Info API. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device details.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[deviceType]=router</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleDeviceDetails",
        "parameters" : [ {
          "name" : "filter[manageStatus]",
          "in" : "query",
          "description" : "Filter by managed status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "true"
        }, {
          "name" : "filter[discoverySNMP]",
          "in" : "query",
          "description" : "Filter by the device’s SNMP discovery status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "disabled", "determining", "notSupported", "notAuthorized", "authorizing", "authorized", "privileged" ]
          },
          "example" : "disabled"
        }, {
          "name" : "filter[discoveryWMI]",
          "in" : "query",
          "description" : "Filter by the device’s WMI discovery status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "disabled", "determining", "notSupported", "notAuthorized", "authorizing", "authorized", "privileged" ]
          },
          "example" : "disabled"
        }, {
          "name" : "filter[discoveryLogin]",
          "in" : "query",
          "description" : "Filter by the device’s Login discovery status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "disabled", "determining", "notSupported", "notAuthorized", "authorizing", "authorized", "privileged" ]
          },
          "example" : "disabled"
        }, {
          "name" : "filter[discoveryVMware]",
          "in" : "query",
          "description" : "Filter by the device’s VMware discovery status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "disabled", "determining", "notSupported", "notAuthorized", "authorizing", "authorized", "privileged" ]
          },
          "example" : "disabled"
        }, {
          "name" : "filter[trafficInsightsStatus]",
          "in" : "query",
          "description" : "Filter by the device’s TrafficInsights status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "notDetected", "detected", "notApproved", "approved", "linking", "linkingFailed", "forwarding" ]
          },
          "example" : "approved"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceDetailsReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/detail?tenants=195798545063742726'"
        } ]
      }
    },
    "/inventory/device/detail/{id}" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read a Single Device’s Details",
        "description" : "Use the Read Single Device’s Details API to pull extra collected information about a specific device Auvik has discovered not already included in the Device Info API. You’ll need the device ID for the specific device.<br>\n<br>\nTo find the device IDs, run the <a href=\"#operation/readMultipleDeviceInfo\">Read Multiple Devices API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device details.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...2Nw</i> should be the device’s ID.</li>\n</ul>",
        "operationId" : "readSingleDeviceDetails",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of device",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceDetailsReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/detail/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/device/detail/extended" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read Multiple Devices’ Extended Details",
        "description" : "Use the Read Multiple Devices’ Extended Details API to get many devices’ extended details. Many device types have information collected and tracked by Auvik that are unique to that device type. Use this endpoint to access such information for a given device. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device extended details.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[deviceType]=switch</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleDeviceExtendedDetail",
        "parameters" : [ {
          "name" : "filter[deviceType]",
          "in" : "query",
          "description" : "Filter by device type.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/DeviceTypeSchema"
          },
          "example" : "accessPoint"
        }, {
          "name" : "filter[modifiedAfter]",
          "in" : "query",
          "description" : "Filter by date and time, only returning entities modified after provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-03-12T12:00:00.000Z"
        }, {
          "name" : "filter[notSeenSince]",
          "in" : "query",
          "description" : "Filter by the last seen online time, returning entities not seen online after the provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-11-30T18:34:42.652Z"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceDetailsExtendedReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/detail/extended?filter[deviceType]=switch&tenants=195798545063742726'"
        } ]
      }
    },
    "/inventory/device/detail/extended/{id}" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read a Single Device’s Extended Details",
        "description" : "Use the Read Single Device’s Extended Details API to get a device’s extended details. Many device types have information collected and tracked by Auvik that are unique to that device type. Use this endpoint to access such information for a given device.<br>\n<br>\nTo find the device IDs, run the <a href=\"#operation/readMultipleDeviceInfo\">Read Multiple Devices API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device extended details.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...2Nw</i> should be the device’s ID.</li>\n</ul>",
        "operationId" : "readSingleDeviceExtendedDetail",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of device",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceDetailsExtendedReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/detail/extended/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/device/warranty" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read Multiple Devices’ Warranty Info",
        "description" : "Use the Read Multiple Devices’ Warranty API to pull the collected warranty information about the various devices Auvik has discovered. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[coveredUnderWarranty]=true</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleDeviceWarranty",
        "parameters" : [ {
          "name" : "filter[coveredUnderWarranty]",
          "in" : "query",
          "description" : "Filter by warranty coverage status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "true"
        }, {
          "name" : "filter[coveredUnderService]",
          "in" : "query",
          "description" : "Filter by service coverage status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "true"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceWarrantyReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/warranty?filter[coveredUnderWarranty]=true&tenants=195798545063742726'"
        } ]
      }
    },
    "/inventory/device/warranty/{id}" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read a Single Device’s Warranty Info",
        "description" : "Use the Read Single Device’s Warranty Info API to pull the collected information about a specific device Auvik has discovered. You’ll need the device ID for the specific device.<br>\n<br>\nTo find the device IDs, run the <a href=\"#operation/readMultipleDeviceInfo\">Read Multiple Devices API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...2Nw</i> should be the device’s ID.\n</li></ul>",
        "operationId" : "readSingleDeviceWarranty",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of device",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceWarrantyReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/warranty/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/device/lifecycle" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read Multiple Devices’ Lifecycle Info",
        "description" : "Use the Read Multiple Devices’ Lifecycle API to pull the collected lifecycle information about the various devices Auvik has discovered. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[salesAvailability]=available</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleDeviceLifecycle",
        "parameters" : [ {
          "name" : "filter[salesAvailability]",
          "in" : "query",
          "description" : "Filter by sales availability.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ]
          },
          "example" : "available"
        }, {
          "name" : "filter[softwareMaintenanceStatus]",
          "in" : "query",
          "description" : "Filter by software maintenance status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ]
          },
          "example" : "available"
        }, {
          "name" : "filter[securitySoftwareMaintenanceStatus]",
          "in" : "query",
          "description" : "Filter by security software maintenance status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ]
          },
          "example" : "available"
        }, {
          "name" : "filter[lastSupportStatus]",
          "in" : "query",
          "description" : "Filter by last support status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "covered", "available", "expired", "securityOnly", "unpublished", "empty" ]
          },
          "example" : "available"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceLifecycleReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/lifecycle?filter[salesAvailability]=available&tenants=195798545063742726'"
        } ]
      }
    },
    "/inventory/device/lifecycle/{id}" : {
      "get" : {
        "tags" : [ "Device" ],
        "summary" : "Read a Single Device’s Lifecycle Info",
        "description" : "Use the Read Single Device’s Lifecycle Info API to pull the collected information about a specific device Auvik has discovered. You’ll need the device ID for the specific device.<br>\n<br>\nTo find the device IDs, run the <a href=\"#operation/readMultipleDeviceInfo\">Read Multiple Devices API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view device information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...2Nw</i> should be the device’s ID.\n</li></ul>",
        "operationId" : "readSingleDeviceLifecycle",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of device",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/deviceLifecycleReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/device/lifecycle/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/configuration" : {
      "get" : {
        "tags" : [ "Configuration" ],
        "summary" : "Read Multiple Device Configurations",
        "description" : "Use the Read Multiple Device Configuration API to pull all device configurations. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view configuration history.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[deviceType]=router</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleConfigurations",
        "parameters" : [ {
          "name" : "filter[deviceId]",
          "in" : "query",
          "description" : "Filter by device ID",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
        }, {
          "name" : "filter[backupTimeAfter]",
          "in" : "query",
          "description" : "Filter by date and time, filtering out configurations backed up before value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-03-12T12:00:00.000Z"
        }, {
          "name" : "filter[backupTimeBefore]",
          "in" : "query",
          "description" : "Filter by date and time, filtering out configurations backed up after value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-03-12T12:00:00.000Z"
        }, {
          "name" : "filter[isRunning]",
          "in" : "query",
          "description" : "Filter for configurations that are currently running, or filter for all configurations which are not currently running.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "true"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/configReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/configuration?tenants=195798545063742726'"
        } ]
      }
    },
    "/inventory/configuration/{id}" : {
      "get" : {
        "tags" : [ "Configuration" ],
        "summary" : "Read a Single Device Configuration",
        "description" : "Use the Read Single Device Configuration API to pull a single device configuration. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view configuration history.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[deviceType]=router</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readSingleConfiguration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of configuration",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/configReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/configuration/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/network/info" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Read Multiple Networks’ Info",
        "description" : "Use the Read Multiple Networks’ Info API to pull the collected information about the various networks Auvik has discovered. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view network information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[networkType]=routed</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleNetworkInfo",
        "parameters" : [ {
          "name" : "filter[networkType]",
          "in" : "query",
          "description" : "Filter by network type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "routed", "vlan", "wifi", "loopback", "network", "layer2", "internet" ]
          },
          "example" : "routed"
        }, {
          "name" : "filter[scanStatus]",
          "in" : "query",
          "description" : "Filter by the network’s scan status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false", "notAllowed", "unknown" ]
          },
          "example" : "true"
        }, {
          "name" : "filter[devices]",
          "in" : "query",
          "description" : "Filter by IDs of devices on this network. Filter by multiple values by providing a comma delimited list.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
        }, {
          "name" : "filter[modifiedAfter]",
          "in" : "query",
          "description" : "Filter by date and time, only returning entities modified after provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-03-12T12:00:00.000Z"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Use to include the full resource objects of any of the network’s relationships.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "networkDetail" ]
          },
          "example" : "networkDetail"
        }, {
          "name" : "fields[networkDetail]",
          "in" : "query",
          "description" : "Use to limit the attributes that will be returned in the included detail object to only what is specified by this query parameter. Requires <code>include=networkDetail</code>",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "scope", "primaryCollector", "secondaryCollectors", "collectorSelection", "excludedIpAddresses" ]
          },
          "example" : "scope,excludedIpAddresses"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/networkInfoReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/network/info?filter[networkType]=routed&tenants=195798545063742726&include=networkDetail'"
        } ]
      }
    },
    "/inventory/network/info/{id}" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Read a Single Network’s Info",
        "description" : "Use the Read Single Network’s Info API to pull the collected information about a specific network Auvik has discovered. You’ll need the network ID for the specific network.<br>\n<br>\nTo find the network IDs, run the <a href=\"#operations/readMultipleNetworkInfo\">Read Multiple Networks’ Info API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view network information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...yMw</i> should be the network ID.</li>\n</ul>",
        "operationId" : "readSingleNetworkInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of network",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "include",
          "in" : "query",
          "description" : "Use to include the full resource objects of any of the network’s relationships.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "networkDetail" ]
          },
          "example" : "networkDetail"
        }, {
          "name" : "fields[networkDetail]",
          "in" : "query",
          "description" : "Use to limit the attributes that will be returned in the included detail object to only what is specified by this query parameter. Requires <code>include=networkDetail</code>",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "scope", "primaryCollector", "secondaryCollectors", "collectorSelection", "excludedIpAddresses" ]
          },
          "example" : "scope,excludedIpAddresses"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/networkInfoReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/network/info/MTk5NTAyNzg2ODc3MDYzMTY5LDE5OTUwMjc5MTExMjc4NTkyMw'"
        } ]
      }
    },
    "/inventory/network/detail" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Read Multiple Networks’ Details",
        "description" : "Use the Read Multiple Networks’ Details API to pull extra collected information about the various networks Auvik has discovered not already included in the Network Info API. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view network details.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[networkType]=routed</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleNetworkDetails",
        "parameters" : [ {
          "name" : "filter[networkType]",
          "in" : "query",
          "description" : "Filter by network type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "routed", "vlan", "wifi", "loopback", "network", "layer2", "internet" ]
          },
          "example" : "routed"
        }, {
          "name" : "filter[scanStatus]",
          "in" : "query",
          "description" : "Filter by the network’s scan status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false", "notAllowed", "unknown" ]
          },
          "example" : "true"
        }, {
          "name" : "filter[devices]",
          "in" : "query",
          "description" : "Filter by IDs of devices on this network. Filter by multiple values by providing a comma delimited list.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw"
        }, {
          "name" : "filter[modifiedAfter]",
          "in" : "query",
          "description" : "Filter by date and time, only returning entities modified after provided value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "2018-03-12T12:00:00.000Z"
        }, {
          "name" : "filter[scope]",
          "in" : "query",
          "description" : "Filter by the network’s scope",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "private", "public" ]
          },
          "example" : "private"
        }, {
          "name" : "tenants",
          "in" : "query",
          "description" : "Comma delimited list of tenant IDs to request info from.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "199762235015168516,199762235015168004"
        }, {
          "name" : "page[first]",
          "in" : "query",
          "description" : "For paginated responses, the first N elements will be returned. Used in combination with <code>page[after]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[after]",
          "in" : "query",
          "description" : "Cursor after which elements will be returned as a page. The page size is provided by <code>page[first]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[first]=100"
        }, {
          "name" : "page[last]",
          "in" : "query",
          "description" : "For paginated responses, the last N services will be returned. Used in combination with <code>page[before]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "number",
            "default" : 100.0
          },
          "example" : "100"
        }, {
          "name" : "page[before]",
          "in" : "query",
          "description" : "Cursor before which elements will be returned as a page. The page size is provided by <code>page[last]</code>.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Y3Vyc29yOjE5OTc2MjIzNTAxNTE2ODAwNCwxOTk3NjI0ODM4MzI2MTI2MTE&page[last]=100"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/networkDetailsReadMultiple"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/network/detail?tenants=195798545063742726'"
        } ]
      }
    },
    "/inventory/network/detail/{id}" : {
      "get" : {
        "tags" : [ "Network" ],
        "summary" : "Read a Single Network’s Details",
        "description" : "Use the Read Single Networks’s Details API to pull extra collected information about a specific network Auvik has discovered not already included in the network Info API. You’ll need the network ID for the specific network.<br>\n<br>\nTo find the network IDs, run the <a href=\"#operations/readMultipleNetworkInfo\">Read Multiple Networks API</a>.<br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view network details.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>MTk...yMw</i> should be the network’s ID.</li>\n</ul>",
        "operationId" : "readSingleNetworkDetails",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of network",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/networkDetailsReadSingle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/vnd.api+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/basicError"
                }
              }
            }
          },
          "500" : {
            "description" : "Something went wrong"
          }
        },
        "x-code-samples" : [ {
          "lang" : "cURL",
          "source" : "curl -u 'user@example.com:apiKey' 'https://auvikapi.us1.my.auvik.com/v1/inventory/network/detail/MTk5NTAyNzg2ODc3MDYzNDI1LDE5OTUwMjc5MTExMzAyODg2Nw'"
        } ]
      }
    },
    "/inventory/interface/info" : {
      "get" : {
        "tags" : [ "Interface" ],
        "summary" : "Read Multiple Interfaces Info",
        "description" : "Use the Read Multiple Interfaces Info API to pull the collected information about the various device interfaces Auvik has discovered. You’ll need the client IDs for the clients you want to run the multiple read against.<br>\n<br>\nTo find the client IDs, run the <a href=\"#operation/readMultipleTenants\">Read Multiple Tenants API.</a><br>\n<br>\nLooking at the detail screen on the right, click cURL to see the command that will be used. Click <b>Copy</b> to copy the details of the command to your clipboard. Be sure to edit the following parameters within the command:\n<ul>\n    <li>Within the API URL, <b>us1.my</b> (https://auvikapi.us1.my.auvik.com) should be updated to match the region in which your account resides. To locate the region, log into your Auvik dashboard and look at the URL in your browser’s address bar.</li>\n    <li><i>user@example.com</i> should be the email address of a user with permissions to view interface information.</li>\n    <li><i>apiKey</i> should be the API key that’s been set for the user.</li>\n    <li><i>195798545063742726</i> should be the ID or comma delimited IDs of the client(s) whose data you wish to fetch information from. </li>\n    <li><i>filter[interfaceType]=ethernet</i> should be whichever key and value pair you want to filter the result set by. See below for a list of filterable parameters.</li>\n</ul>",
        "operationId" : "readMultipleInterfaceInfo",
        "parameters" : [ {
          "name" : "filter[interfaceType]",
          "in" : "query",
          "description" : "Filter by interface type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "ethernet", "wifi", "bluetooth", "cdma", "coax", "cpu", "distributedVirtualSwitch", "firewire", "gsm", "ieee8023AdLag", "inferredWired", "inferredWireless", "interface", "linkAggregation", "loopback", "modem", "wimax", "optical", "other", "parallel", "ppp", "radiomac", "rs232", "tunnel", "unknown", "usb", "virtualBridge", "virtualNic", "virtualSwitch", "vlan" ]
          },
          "example" : "ethernet"
        }, {
          "name" : "filter[parentDevice]",
          "in" : "query",
          "description" : "Filter by the entity's parent device ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "MTkwNzAyOTIzMDk3NzA4MDMzLDMwOTIyNTc3MjQ5ODE5MDgyNA"
        }, {
          "name" : "filter[adminStatus]",
          "in" : "query",
          "description" : "Filter by the interface’s admin status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          },
          "example" : "true"
        }, {
          "name" : "filter[operationalStatus]",
          "in" : "query",
          "description" : "Filter by the interface’s operational status.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
[...]
